@model List<Category>

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>TO DO LIST</title>
        <link rel="stylesheet" href="~/css/CategoriesList.css"/>
    </head>
    <body>
        <div class="header">
            <span class="site-name">TO DO LIST</span>
            <nav>
                <span class="nav-item"><a asp-controller="Home" asp-action="TasksList">Task List</a></span>
                <span class="nav-item"><a asp-controller="Home" asp-action="CategoriesList">Categories</a></span>
            </nav>
            <form asp-controller="Home" asp-action="ChangeDataBase" method="post">
                <select name="newSelectedDB" class="select-database" onchange="this.form.submit()">
                    @if (DataBaseStatus.ChoosedDataBase == (int)DataBaseList.MSSQLDataBase)
                    {
                        <option value="0" selected>MSSQLDataBase</option>
                        <option value="1">XMLDataBase</option>
                    }
                    else if (DataBaseStatus.ChoosedDataBase == (int)DataBaseList.XMLDataBase)
                    {
                        <option value="0">MSSQLDataBase</option>
                        <option value="1" selected>XMLDataBase</option>
                    }
                </select>
            </form>
        </div>
        <div class="main">
            <form class="add-new-category-box" asp-controller="Home" asp-action="CreateCategory" method="post">
                <div class="item">
                    <label for="Name">Category Name</label>
                    <input name="Name" type="text" required/>
                </div>
                <div class="item">
                    <label for="Description">Description</label>
                    <input name="Description" type="text"/>
                </div>
                <div class="buttons">
                    <button type="reset">Clear</button>
                    <button type="submit">Create</button>
                </div>
            </form>
            <div class="categories">
                <span class="categories-title">Categories</span>
                @foreach(var category in Model)
                {
                <div class="category">
                    <div class="category-head-head">
                        <span class="category-name">@category.Name</span>
                    </div>
                    <span class="category-description">@category.Description</span>
                    <div class="buttons">
                        <form method="post" asp-action="DeleteCategory">
                            <button class="delete-button" type="submit">Delete</button>
                            <input type="hidden" name="id" value="@category.Id"/>
                        </form>                   
                        <form method="post" asp-action="EditCategory">
                            <button class="edit-button" type="submit">Edit</button>
                            <input type="hidden" name="CategoryId" value="@category.Id"/>
                        </form>
                    </div>
                </div>
                }
            </div>
    </body>
</html>
