<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>ADD NEW TASK</title>
        <link rel="stylesheet" href="~/css/Successful.css"/>
    </head>
    <body>
        <div class="header">
            <span class="site-name">TO DO LIST</span>
            <nav>
                <span class="nav-item"><a asp-controller="Home" asp-action="TasksList">Task List</a></span>
                <span class="nav-item"><a asp-controller="Home" asp-action="CategoriesList">Categories</a></span>
            </nav>
        </div>
        <div class="main">
            <div class="successful-text">Operation successful!</div>
        </div>
    </body>
</html>